

<!DOCTYPE html>

<html>
    <style>
    .h1, h1 {
        font-size: calc(1.375rem + 1.5vw);
        text-align: center;
    }
    </style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample</title>
</head>
<body>
    <h1>Sample Page for Training in EF Core</h1>
</body>
</html>